<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>

    <div class="card text-white bg-primary mb-3" style="max-width: 40rem;">
        <div class="card-header">your information</div>
        <div class="card-body">
            <form action='/result' method='post'>
                {% csrf_token %}
                <label for="name">
                    Your Name: <input type='text' name='name' id="name"></label>
                <br>
                <label for="location">Dojo location:
                    <select name="loc" id="location">
                        <optgroup label="python">
                            <option value="course overview">course overview</option>
                            <option value="Why python">Why python?</option>
                        </optgroup>
                        <optgroup label="flask">
                            <option value="overview">overview</option>
                            <option value="flask installation">flask installation</option>
                        </optgroup>
                    </select>
                </label><br>
                <label for="lang">favorite language:</label>
                <label for="html"><input type="radio" id="html" name="lang" value="html">HTML</label>
                <label for="python"><input type="radio" id="python" name="lang" value="python">PYTHON</label>


                <br>
                <label for="text">Comment (optional )</label>
                <textarea name='comment' id="text"></textarea>

                <br>


                <button type='submit' class="btn btn-outline-success" value='create user' id="submit">submit</button>

            </form>
        </div>


</body>

</html>