<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Checkerboard.css') }}">
    <title>Document</title>
</head>

<body>
    <div class="main" style="width: {{y*100}}px;">
        {% for i in range(x):%}
        {%if i%2==0%}
        {% for i in range(y)%}
        <div class="red" style="background-color: {{color}};"></div>
        <div class="black" style="background-color: {{color1}};"></div>
        {%endfor%}
        {%endif%}
        {%if i%2==1%}
        {% for i in range(y)%}
        <div class="black" style="background-color: {{color1}};"></div>
        <div class="red" style="background-color: {{color}};"></div>

        {%endfor%}
        {%endif%}
        {%endfor%}
    </div>
</body>

</html>